<table>
  <h2>{{userName}} ( {{email}} ) History</h2>
  <thead>
    <tr>
      <th scope="col">Login Date/Time</th>
      <th scope="col">Client Information</th>
    </tr>
  </thead>
  <tbody>
    {{#each session.user.loginHistory}}
    <tr>
      <td>{{dateTime}}</td>
      <td>{{userAgent}}</td>
    </tr>
    {{/each}} 
  </tbody>
  <tfoot>
    <tr>
      <th scope="row" colspan="2">Average age</th>
      <td>33</td>
    </tr>
  </tfoot>
</table>

